/* #region Common */

:root {
  --primary: #9792e4;
  --lighter: #ffffff;
  --darker: #151515;
  --neutral-dark: #333333;
  --neutral-lighter: #b5ddff;
  --neutral-medium: #0084fd;
  --accent: #fdc15f;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#demo,
section,
#app_footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

main .row > [class^="col_"] {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

/* #endregion Common */

/* #region Utilities */

.container {
  width: 85%;
  margin: auto;
}

.d_flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col_1 {
  width: calc(100% / 12);
}

.col_2 {
  width: calc(100% / 12 * 2);
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: calc(100% / 12 * 4);
}

.col_5 {
  width: calc(100% / 12 * 5);
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: calc(100% / 12 * 7);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: calc(100% / 12 * 10);
}

.col_11 {
  width: calc(100% / 12 * 11);
}

.col_12 {
  width: 100%;
}

.card {
  padding: 30px;
  height: 100%;
  border-radius: 20px;
}

.card.straight {
  border-radius: 0;
}

.card.more_rounded {
  border-radius: 50px;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
}

.btn.sm {
  padding: 8px;
}

.btn.md {
  padding: 8px 50px;
}

.btn.big {
  padding: 15px 100px;
  border-radius: 40px;
}

.btn.circle {
  position: relative;
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  padding: 0;
  background-color: var(--primary);
}

.lighter {
  background-color: #ffffff;
  color: var(--darker);
}

.neutral_medium {
  background-color: var(--neutral-medium);
  color: var(--lighter);
}

.text_center {
  text-align: center;
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid lime;
}

.debug [class^="col_"] {
  height: 100px;
}

.debug #cta {
  background-color: var(--primary);
}

.debug #cta .container {
  height: 100px;
}

.debug #app_footer {
  height: 300px;
}

.debug #app_footer .container {
  height: 100%;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 25px 0;
  background-color: var(--neutral-medium);
  color: var(--lighter);
  box-shadow: 0 1px 5px 0 var(--neutral-dark);
}

#app_header .row {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#app_header nav {
  display: none;
}

#app_header ul {
  align-items: center;
}

#app_header li:nth-child(even) {
  margin: 0 30px;
}

/* #endregion Header */

/* #region Main */

#demo .row .card {
  background-color: var(--neutral-lighter);
}

#demo .row .card.d_flex {
  padding-bottom: 0;
}

#demo i.fa-apple {
  color: var(--lighter);
}

#demo i.fa-4x {
  margin-bottom: 30px;
}

#demo h3,
#demo i {
  color: var(--neutral-medium);
}

#demo p,
#demo a,
#demo .d_flex > div:last-of-type {
  margin-top: 30px;
}

#planning,
#testimonials .row .card,
#benefits,
#cta {
  background-color: var(--primary);
}

#planning .row > div:first-child {
  color: var(--lighter);
}

#planning h2 {
  margin: 60px 0;
}

#planning .row > div:last-child .card {
  background-color: var(--lighter);
}

#planning h3,
#planning h3 + p {
  margin: 30px 0;
  background-color: var(--lighter);
}

#planning h3 + p {
  font-style: italic;
}

#planning .btn.circle > i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#testimonials h4 {
  font-weight: 400;
}

#testimonials h2 {
  color: var(--primary);
  margin: 30px 0;
}

#testimonials .card {
  color: var(--lighter);
}

#testimonials .card img {
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

#testimonials blockquote {
  margin: 30px 0;
}

#testimonials blockquote::before {
  font: var(--fa-font-solid);
  content: "\f10d";
  padding-right: 10px;
}

#testimonials blockquote::after {
  font: var(--fa-font-solid);
  content: "\f10e";
  padding-left: 10px;
}

#testimonials blockquote + span {
  font-weight: 700;
}

#benefits h2 {
  margin-bottom: 30px;
  color: var(--lighter);
}

#benefits .row .card {
  background-color: var(--lighter);
}

#benefits .card .index,
#benefits .card h4 {
  color: var(--primary);
  font-weight: 700;
}

#benefits .index {
  font-size: 2.5rem;
}

#benefits .card h4 {
  margin: 30px 0;
}

#benefits .card .btn.md {
  background-color: var(--primary);
  color: var(--lighter);
  font-weight: 700;
  margin-top: 30px;
}

#about h2 {
  margin-bottom: 50px;
  color: var(--primary);
}

#about .card_text p {
  margin: 50px 0;
}

#about .card_quotes {
  color: var(--primary);
}

#about .img_wrapper {
  position: relative;
}

#about .img_wrapper::before {
  position: absolute;
  top: 0;
  right: 40%;
  scale: 4;
  transform-origin: 100% 0;
  font: var(--fa-font-solid);
  content: "\f10d";
}

#about .img_wrapper img {
  width: 60%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}

#about .card_quotes blockquote {
  font-weight: 700;
  margin: 30px 0;
}

#about .card_quotes .btn.sm {
  background-color: var(--primary);
  color: var(--lighter);
}

#cta {
  color: var(--lighter);
}

#cta h4 {
  font-weight: 400;
}

#cta h3 {
  margin: 40px 0;
}

#cta h2 {
  margin: 40px 0;
  color: var(--accent);
}

#cta .btn {
  color: var(--primary);
  font-weight: 700;
  margin: 40px 0;
}

#cta .privacy {
  text-decoration: underline;
}

#cta div > .classroom::before,
#cta div > .classroom::after {
  display: inline-block;
  font: var(--fa-font-solid);
  content: "\f111";
  scale: 0.3;
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--neutral-dark);
  color: var(--lighter);
}

#app_footer .container > p {
  margin-bottom: 80px;
}

#app_footer .footer_link {
  color: var(--primary);
  text-decoration: underline;
}

/* #endregion Footer */

/* #region Responsive */

@media screen and (min-width: 768px) {

  .container {
    width: 90%;
  }

  .col_md_1 {
    width: calc(100% / 12);
  }
  
  .col_md_2 {
    width: calc(100% / 12 * 2);
  }
  
  .col_md_3 {
    width: 25%;
  }
  
  .col_md_4 {
    width: calc(100% / 12 * 4);
  }
  
  .col_md_5 {
    width: calc(100% / 12 * 5);
  }
  
  .col_md_6 {
    width: 50%;
  }
  
  .col_md_7 {
    width: calc(100% / 12 * 7);
  }
  
  .col_md_8 {
    width: calc(100% / 12 * 8);
  }
  
  .col_md_9 {
    width: 75%;
  }
  
  .col_md_10 {
    width: calc(100% / 12 * 10);
  }
  
  .col_md_11 {
    width: calc(100% / 12 * 11);
  }
  
  .col_md_12 {
    width: 100%;
  }

  #app_header {
    padding: 15px 0;
  }

  #demo .d_flex > div:last-of-type {
    transform: translate(11.5%, 0);
  }

  #planning .row .img_wrapper img {
    margin: 50px 0;
  }

  #testimonials h2 {
    margin: 50px 0;
  }

  #testimonials .card {
    display: flex;
    align-items: center;
    text-align: left;
  }

  #testimonials blockquote {
    margin-top: 0;
  }

  #benefits h2 {
    margin-bottom: 50px;
  }

  #about .img_wrapper {
    text-align: center;
  }

  #about .img_wrapper img {
    width: 80%;
  }

  #about .img_wrapper::before {
    right: 10%;
  }

  #app_footer > .container {
    width: 55%;
    max-width: 500px;
  }

}

@media screen and (min-width: 1200px) {

  .container {
    max-width: 1140px;
  }

  .col_lg_1 {
    width: calc(100% / 12);
  }
  
  .col_lg_2 {
    width: calc(100% / 12 * 2);
  }
  
  .col_lg_3 {
    width: 25%;
  }
  
  .col_lg_4 {
    width: calc(100% / 12 * 4);
  }
  
  .col_lg_5 {
    width: calc(100% / 12 * 5);
  }
  
  .col_lg_6 {
    width: 50%;
  }
  
  .col_lg_7 {
    width: calc(100% / 12 * 7);
  }
  
  .col_lg_8 {
    width: calc(100% / 12 * 8);
  }
  
  .col_lg_9 {
    width: 75%;
  }
  
  .col_lg_10 {
    width: calc(100% / 12 * 10);
  }
  
  .col_lg_11 {
    width: calc(100% / 12 * 11);
  }
  
  .col_lg_12 {
    width: 100%;
  }

  #app_header nav {
    display: block;
  }

  #app_header .hamburger {
    display: none;
  }

  #demo .d_flex > div:last-of-type {
    transform: translate(0, 0);
    align-self: flex-end;
  }

  #demo .d_flex img {
    width: 65%;
  }

  #planning .row {
    align-items: flex-end;
  }

  #planning .row .img_wrapper img {
    margin: 120px 0;
  }

}

/* #endregion Responsive */
