/* #region Common */

:root {
  --primary: #9792e4;
  --lighter: #ffffff;
  --darker: #151515;
  --neutral-dark: #333333;
  --neutral-lighter: #b5ddff;
  --neutral-medium: #0084fd;
  --accent: #fdc15f;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#demo,
section,
#app_footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

main [class^="col_"] {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

/* #endregion Common */

/* #region Utilities */

.container {
  width: 85%;
  margin: auto;
}

.d_flex {
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col_1 {
  width: calc(100% / 12);
}

.col_2 {
  width: calc(100% / 12 * 2);
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: calc(100% / 12 * 4);
}

.col_5 {
  width: calc(100% / 12 * 5);
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: calc(100% / 12 * 7);
}

.col_8 {
  width: calc(100% / 12 * 8);
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: calc(100% / 12 * 10);
}

.col_11 {
  width: calc(100% / 12 * 11);
}

.col_12 {
  width: 100%;
}

.card {
  padding: 30px;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 20px;
}

.white {
  background-color: #ffffff;
  color: var(--darker);
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid lime;
}

.debug [class^="col_"] {
  height: 100px;
}

.debug #cta {
  background-color: var(--primary);
}

.debug #cta .container {
  height: 100px;
}

.debug #app_footer {
  height: 300px;
}

.debug #app_footer .container {
  height: 100%;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: sticky;
  top: 0;
  left: 0;
  padding: 25px 0;
  background-color: var(--neutral-medium);
  color: var(--lighter);
  box-shadow: 0 1px 5px 0 var(--neutral-dark);
}

#app_header .row {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#app_header nav {
  display: none;
}

#app_header ul {
  align-items: center;
}

#app_header li:nth-child(even) {
  margin: 0 30px;
}

/* #endregion Header */

/* #region Main */

#demo .row .card {
  background-color: var(--neutral-lighter);
}

#planning,
#testimonials .row *:not(:first-child),
#benefits {
  background-color: var(--primary);
}

#benefits .row .card {
  background-color: var(--lighter);
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--neutral-dark);
}

/* #endregion Footer */

/* #region Responsive */

@media screen and (min-width: 481px) {

  .container {
    width: 90%;
  }

  .col_md_1 {
    width: calc(100% / 12);
  }
  
  .col_md_2 {
    width: calc(100% / 12 * 2);
  }
  
  .col_md_3 {
    width: 25%;
  }
  
  .col_md_4 {
    width: calc(100% / 12 * 4);
  }
  
  .col_md_5 {
    width: calc(100% / 12 * 5);
  }
  
  .col_md_6 {
    width: 50%;
  }
  
  .col_md_7 {
    width: calc(100% / 12 * 7);
  }
  
  .col_md_8 {
    width: calc(100% / 12 * 8);
  }
  
  .col_md_9 {
    width: 75%;
  }
  
  .col_md_10 {
    width: calc(100% / 12 * 10);
  }
  
  .col_md_11 {
    width: calc(100% / 12 * 11);
  }
  
  .col_md_12 {
    width: 100%;
  }

  #app_header {
    padding: 15px 0;
  }
}

@media screen and (min-width: 1201px) {

  .container {
    max-width: 1140px;
  }

  .col_lg_1 {
    width: calc(100% / 12);
  }
  
  .col_lg_2 {
    width: calc(100% / 12 * 2);
  }
  
  .col_lg_3 {
    width: 25%;
  }
  
  .col_lg_4 {
    width: calc(100% / 12 * 4);
  }
  
  .col_lg_5 {
    width: calc(100% / 12 * 5);
  }
  
  .col_lg_6 {
    width: 50%;
  }
  
  .col_lg_7 {
    width: calc(100% / 12 * 7);
  }
  
  .col_lg_8 {
    width: calc(100% / 12 * 8);
  }
  
  .col_lg_9 {
    width: 75%;
  }
  
  .col_lg_10 {
    width: calc(100% / 12 * 10);
  }
  
  .col_lg_11 {
    width: calc(100% / 12 * 11);
  }
  
  .col_lg_12 {
    width: 100%;
  }

  #app_header nav {
    display: block;
  }

  #app_header .hamburger {
    display: none;
  }
}

/* #endregion Responsive */
